.swiper-pagination {
  position: absolute;
  bottom: -12px !important;
  left: -26.5% !important;
  text-align: end !important
  ;
  &-bullet {
    background-color: $purple !important;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    height: 5px !important;
    border-radius: 100px !important;

    &-active {
      width: 23px !important;
    }
  }
  @include tablet {
    text-align: center !important;
    left: 0 !important;
  }
  @include mobile {
    bottom: -39px !important;
  }
}
